body {
    font-family: Arial, sans-serif;
    background-color: #ffc600;
    color: #07294d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    min-width: 300px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    background-color: #07294d;
    color: #ffc600;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    width: 100%;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word; /* Ensure long words break to fit the container */
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
}

.user-message {
    background-color: #e6f2ff;
    margin-left: 20%;
}

.bot-message {
    background-color: #f0f0f0;
    margin-right: 20%;
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

.chat-input {
    display: flex;
    padding: 20px;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #07294d;
    border-radius: 5px;
    autocomplete: off;
}

#send-button {
    background-color: #07294d;
    color: #ffc600;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mario-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    vertical-align: top; /* Align avatar to the top */
}

#mic-button {
    background-color: #07294d;
    color: #ffc600;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #000;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

.highlighted-link {
    color: blue;
    text-decoration: underline;
}

.scroll-down {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #07294d;
    color: #ffc600;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: blue;
    text-decoration: underline;
}

a[target="_blank"]::after {
    font-size: 0.8em;
    color: #555;
}